.header__logo {
  width: 142px;
  height: 33px;
  margin-top: 45px;
  margin-bottom: 37px;
  /*41px в шаблоне*/
}

@media screen and (max-width: 571px) {
  .header__logo {
    margin-top: 28px;
    margin-left: 48px;
    margin-bottom: 27.6px;
    /*31.6px в шаблоне*/
    width: 103.74px;
    height: 24.4px;
  }
}

@media screen and (max-width: 425px) {
  .header__logo {
    margin-left: 27px;
  }
}
