.footer {
  margin: 67px auto 0;
  padding-bottom: 60px;
  max-width: 880px;
  width: calc(100% - 2 * 200px);
}

@media screen and (max-width: 1200px) {
  .footer {
    width: calc(100% - 2 * 120px);
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    width: calc(100% - 2 * 72px);
  }
}

@media screen and (max-width: 900px) {
  .footer {
    margin-top: 59px;
    padding-bottom: 47px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 2 * 48px);
  }
}

@media screen and (max-width: 500px) {
  .footer {
    margin-top: 48px;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    width: calc(100% - 2 * 19px);
  }
}
