.nav-menu__button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  min-height: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #a9a9a9;
}

.nav-menu__button:hover {
  cursor: pointer;
}
