.profile__name-info {
  margin: 0;
  display: flex;
  gap: 18px;
  align-items: baseline;
}

@media screen and (max-width: 731px) {
  .profile__name-info {
    justify-content: center;
    gap: 10px;
  }
}
