.form__submit {
  margin-top: 3px;
  margin-bottom: 37px;
  padding: 0;
  width: 100%;
  min-height: 50px;
  background: #000000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: opacity .2s;
  border: none;
}

.form__submit:hover {
  opacity: .8;
}

@media screen and (max-width: 571px) {
  .form__submit {
    margin-top: 45px;
    margin-bottom: 25px;
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
