.nav-menu__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #fff;
  opacity: 1;
  transition: .3s;
}

.nav-menu__link:hover {
  opacity: 0.6
}

@media screen and (max-width: 571px) {
  .nav-menu__link  {
    margin-right: 48px;
    font-size: calc(14px + 4 * (100vw - 320px)/560);
  }
}

@media screen and (max-width: 425px) {
  .nav-menu__link  {
    margin-right: 27px;
  }
}
